<template>
  <v-dialog v-model="dialog" max-width="500px" persistent>
    <v-card outlined shaped>
      <v-card-title id="titulo">
        <span class="headline">Editar Producto</span>
      </v-card-title>
      <div v-if="producto">
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="3" md="3">
                <v-text-field
                  v-model="producto.id"
                  label="ID Producto"
                  disabled
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6" md="3">
                <v-text-field
                  v-model="producto.codigo"
                  label="Código"
                  :rules="[(v) => !!v || 'La código es requerido']"
                  required
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="6" md="7">
                <v-text-field
                  v-model="producto.nombre"
                  label="Nombre"
                  :rules="[(v) => !!v || 'El nombre es requerido']"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-textarea
                counter
                label="Descripción"
                :rules="[(v) => !!v || 'La descripción es requerida']"
                v-model="producto.descripcion"
                rows="2"
              ></v-textarea>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6" md="3">
                <v-text-field
                  v-model="producto.cantidad"
                  :rules="[(v) => !!v || 'La cantidad es requerida']"
                  label="Cantidad"
                  type="number"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="3">
                <v-text-field
                  v-model="producto.precio"
                  label="Precio"
                  :rules="[(v) => !!v || 'El precio es requerido']"
                  type="number"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6" md="5">
                <div v-if="seccion">
                  <v-select
                    v-model="producto.categoria_id"
                    :items="seccion"
                    item-text="nombre"
                    item-value="id"
                    :rules="[(v) => !!v || 'La sección es requerida']"
                    label="Sección"
                    required
                  ></v-select>
                </div>
              </v-col>
              <v-col cols="12" sm="6" md="5">
                <div v-if="bodega">
                  <v-select
                    v-model="producto.bodega_id"
                    :items="bodega"
                    item-text="nombre"
                    item-value="id"
                    :rules="[(v) => !!v || 'La bodega es requerida']"
                    label="Bodega"
                    required
                  ></v-select>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </div>
      <div v-else>
        <v-progress-circular
          id="cargando"
          :size="70"
          :width="7"
          color="orange"
          indeterminate
        >
        </v-progress-circular>
      </div>
      <v-card-actions>
        <v-btn color="primary" @click="modificarDatos">Editar</v-btn>
        <v-btn color="error" @click="cancelar">Cancelar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { store } from "../../../store";
import ProductoService from "../../../services/ProductoService";
import SeccionService from "../../../services/SeccionService";
import BodegaService from "../../../services/BodegaService";

export default {
  name: "EditarProducto",
  data() {
    return {
      secciones: [],
      bodegas: [],
    };
  },
  methods: {
    modificarDatos() {
      ProductoService.putProducto(store.perfilItem)
        .then((res) => res.json())
        .catch((error) => console.error("Error:", error))
        .then((response) => this.$emit("actualizar", response.updated))
        .then(function() {
            store.snackbarText="Producto editado exitosamente"; // Success!            
          }, function() {
            store.snackbarText="No se pudo editar producto"; // Error!            
          });

      store.perfilItem = null;
      store.editarModal = false;
    },
    getSecciones() {
      SeccionService.getSecciones()
        .then((response) => {
          return response.json();
        })
        .then((json) => {
          if (json) {
            this.secciones = json;
          }
        });
    },
    getBodegas() {
      BodegaService.getBodegas()
        .then((response) => {
          return response.json();
        })
        .then((json) => {
          if (json) {
            this.bodegas = json;
          }
        });
    },
    cancelar() {
      store.editarModal = false;
      store.perfilItem = null;
    },
  },
  computed: {
    dialog() {
      return store.editarModal;
    },
    info() {
      return store.objeto;
    },
    producto() {
      return store.perfilItem;
    },
    seccion() {
      return this.secciones;
    },
    bodega() {
      return this.bodegas;
    },
  },
  created() {
    this.getSecciones();
    this.getBodegas();
  },
};
</script>


<style>
#titulo {
  background-color: orange;
  color: white;
}
#cargando {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>