<template>
  <v-dialog v-model="dialog" max-width="500px" persistent>
    <v-card outlined shaped>
      <v-card-title id="titulo">
        <span class="headline">Nuevo Producto</span>
      </v-card-title>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="3">
                <v-text-field
                  v-model="producto.codigo"
                  label="Código"
                  :rules="[(v) => !!v || 'La código es requerido']"
                  required
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="6" md="7">
                <v-text-field
                  v-model="producto.nombre"
                  label="Nombre"
                  :rules="[(v) => !!v || 'El nombre es requerido']"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-textarea
                counter
                label="Descripción"
                :rules="[(v) => !!v || 'La descripción es requerida']"
                v-model="producto.descripcion"
                rows="2"
              ></v-textarea>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6" md="3">
                <v-text-field
                  v-model="producto.cantidad"
                  :rules="[(v) => !!v || 'La cantidad es requerida']"
                  label="Cantidad"
                  type="number"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="3">
                <v-text-field
                  v-model="producto.precio"
                  label="Precio"
                  :rules="[(v) => !!v || 'El precio es requerido']"
                  type="number"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6" md="5">
                <div v-if="seccion">
                  <v-select
                    v-model="producto.categoria_id"
                    :items="seccion"
                    item-text="nombre"
                    item-value="id"
                    :rules="[(v) => !!v || 'La sección es requerida']"
                    label="Sección"
                    required
                  ></v-select>
                </div>
              </v-col>
              <v-col cols="12" sm="6" md="5">
                <div v-if="bodega">
                  <v-select
                    v-model="producto.bodega_id"
                    :items="bodega"
                    item-text="nombre"
                    item-value="id"
                    :rules="[(v) => !!v || 'La bodega es requerida']"
                    label="Bodega"
                    required
                  ></v-select>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        
        <v-card-actions>
          <v-btn :disabled="!valid" color="primary" @click="crearProducto"
            >Crear</v-btn
          >

          <v-btn color="error" @click="cancelar">Cancelar</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
import { store } from "../../../store";
import ProductoService from "../../../services/ProductoService";
import SeccionService from "../../../services/SeccionService";
import BodegaService from "../../../services/BodegaService";

export default {
  name: "NuevoProducto",
  data() {
    return {
      producto: {
        codigo: "",
        nombre: "",
        descripcion: "",
        cantidad: 0,
        precio: 0,
        categoria_id: 0,
        bodega_id: 0,
      },
      bodegas: [],
      secciones: [],
      valid: true,
    };
  },
  methods: {
    crearProducto() {
      if (this.$refs.form.validate()) {
        console.log(this.producto);
        ProductoService.postProducto(this.producto)
          .then((res) => res.json())
          .catch((error) => console.error("Error:", error))
          .then((response) => this.$emit("actualizar", response.created))
          .then(function() {
            store.snackbarText="Producto creado exitosamente"; // Success!            
          }, function() {
            store.snackbarText="No se pudo crear producto"; // Error!            
          });

        this.limpiarFormulario();
        store.crearModal = false;
      }
    },
    getSecciones() {
      SeccionService.getSecciones()
        .then((response) => {
          return response.json();
        })
        .then((json) => {
          if (json) {
            this.secciones = json;
          }
        });
    },
    getBodegas() {
      BodegaService.getBodegas()
        .then((response) => {
          return response.json();
        })
        .then((json) => {
          if (json) {
            this.bodegas = json;
          }
        });
    },
    cancelar() {
      store.crearModal = false;
      this.limpiarFormulario();
      this.producto = {};
    },
    limpiarFormulario() {
      this.$refs.form.reset();
      this.$refs.form.resetValidation();
    },
  },
  computed: {
    dialog() {
      return store.crearModal;
    },
    bodega() {
      return this.bodegas;
    },
    seccion() {
      return this.secciones;
    },
  },
  created() {
    this.getSecciones();
    this.getBodegas();
  },
};
</script>


<style>
#titulo {
  background-color: orange;
  color: white;
}
</style>