<template>
  <v-dialog v-model="dialog" max-width="500px" persistent>
    <v-card outlined shaped>
      <v-card-title id="titulo">
        <span class="headline">Editar Bodega</span>
      </v-card-title>
      <div v-if="bodega">
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="3" md="3">
                <v-text-field
                  v-model="bodega.id"
                  label="ID Bodega"
                  disabled
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6" md="7">
                <v-text-field
                  v-model="bodega.codigo"
                  label="Código"
                  required
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="6" md="7">
                <v-text-field
                  v-model="bodega.nombre"
                  label="Nombre"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6" md="5">
                <div v-if="sucursal">
                  <v-select
                    v-model="bodega.sucursal_id"
                    :items="sucursal"
                    item-text="nombre"
                    item-value="id"
                    :rules="[(v) => !!v || 'La sucursal es requerida']"
                    label="Sucursal"
                    required
                  ></v-select>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </div>
      <div v-else>
        <v-progress-circular
          id="cargando"
          :size="70"
          :width="7"
          color="orange"
          indeterminate
        >
        </v-progress-circular>
      </div>
      <v-card-actions>
        <v-btn color="primary" @click="modificarDatos">Editar</v-btn>
        <v-btn color="error" @click="cancelar">Cancelar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { store } from "../../../store";
import BodegaService from "../../../services/BodegaService";
import SucursalService from "../../../services/SucursalService";

export default {
  name: "EditarBodega",
  data() {
    return {
      sucursales: [],
    };
  },
  methods: {
    modificarDatos() {
      BodegaService.putBodega(store.perfilItem)
        .then((res) => res.json())
        .catch((error) => console.error("Error:", error))
        .then((response) => this.$emit("actualizar", response.updated))
        .then(function() {
            store.snackbarText="Bodega editada exitosamente"; // Success!            
          }, function() {
            store.snackbarText="No se pudo editar bodega"; // Error!            
          });

      store.perfilItem = null;
      store.editarModal = false;
    },
    getSucursales() {
      SucursalService.getSucursales()
        .then((response) => {
          return response.json();
        })
        .then((json) => {
          if (json) {
            this.sucursales = json;
          }
        });
    },
    cancelar() {
      store.editarModal = false;
      store.perfilItem = null;
    },
  },
  computed: {
    dialog() {
      return store.editarModal;
    },
    info() {
      return store.objeto;
    },
    bodega() {
      return store.perfilItem;
    },
    sucursal() {
      return this.sucursales;
    },
  },
  created() {
    this.getSucursales();
  },
};
</script>


<style>
#titulo {
  background-color: orange;
  color: white;
}
#cargando {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>