<template>
  <v-dialog v-model="dialog" max-width="500px" persistent>
    <v-card outlined shaped>
      <v-card-title id="titulo">
        <span class="headline">Nueva Bodega</span>
      </v-card-title>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="7">
                <v-text-field
                  v-model="bodega.codigo"
                  label="Código"
                  :rules="inputRules"
                  required
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="6" md="7">
                <v-text-field
                  v-model="bodega.nombre"
                  label="Nombre"
                  :rules="inputRules"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6" md="5">
                <div v-if="sucursal">
                  <v-select
                    v-model="bodega.sucursal_id"
                    :items="sucursal"
                    item-text="nombre"
                    item-value="id"
                    :rules="[(v) => !!v || 'La sucursal es requerida']"
                    label="Sucursal"
                    required
                  ></v-select>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-btn :disabled="!valid" color="primary" @click="crearBodega"
            >Crear</v-btn
          >

          <v-btn color="error" @click="cancelar">Cancelar</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
import { store } from "../../../store";
import BodegaService from "../../../services/BodegaService";
import SucursalService from "../../../services/SucursalService";

export default {
  name: "NuevaBodega",
  data() {
    return {
      bodega: {
        codigo: "",
        nombre: "",
        sucursal_id: 0,
      },
      sucursales: [],
      valid: true,
      inputRules: [(v) => !!v || "Este campo es obligatorio"],
    };
  },
  methods: {
    crearBodega() {
      if (this.$refs.form.validate()) {
        BodegaService.postBodega(this.bodega)
          .then((res) => res.json())
          .catch((error) => console.error("Error:", error))
          .then((response) => this.$emit("actualizar", response.created))
          .then(function() {
            store.snackbarText="Bodega creada exitosamente"; // Success!            
          }, function() {
            store.snackbarText="No se pudo crear bodega"; // Error!            
          });

        this.limpiarFormulario();
        store.crearModal = false;
      }
    },
    getSucursales() {
      SucursalService.getSucursales()
        .then((response) => {
          return response.json();
        })
        .then((json) => {
          if (json) {
            this.sucursales = json;
          }
        });
    },
    cancelar() {
      store.crearModal = false;
      this.limpiarFormulario();
      this.bodega = {};
    },
    limpiarFormulario() {
      this.$refs.form.reset();
      this.$refs.form.resetValidation();
    },
  },
  computed: {
    dialog() {
      return store.crearModal;
    },
    sucursal() {
      return this.sucursales;
    },
  },
  created() {
    this.getSucursales();
  },
};
</script>


<style>
#titulo {
  background-color: orange;
  color: white;
}
</style>