<template>
  <div>
    <v-app>
      <v-main id="inspire">
        <v-card-title
          >Usuarios<v-spacer></v-spacer>
          <v-text-field
            v-model="buscar"
            append-icon="mdi-magnify"
            label="Buscar"
            single-line
            hide-details
          >
          </v-text-field>

          <v-fab-transition>
            <v-btn
              id="nuevo"
              v-show="!hidden"
              @click="crearPerfil"
              color="blue"
              fab
              dark
              medium
              right
            >
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </v-fab-transition>
        </v-card-title>

        <br />

        <EditarUsuario v-on:actualizar="actualizarCambio($event)" />
        <NuevoUsuario v-on:actualizar="actualizarCambio($event)" />
        <VerUsuario />

        <div v-if="usuarios">
          <v-data-table
            :headers="headers"
            :items="usuarios"
            :search="buscar"
            :items-per-page="5"
            class="elevation-19"
            :loading="cargando"
            loading-text="Cargando datos, por favor espere ..."
          >
            <template v-slot:[`item.ver`]="{ item }">
              <v-icon medium @click="verPerfil(item)"> mdi-eye-outline </v-icon>
            </template>

            <template v-slot:[`item.editar`]="{ item }">
              <v-icon medium class="mr-2" @click="editarPerfil(item)"
                >mdi-pencil</v-icon
              >
            </template>

            <template v-slot:[`item.eliminar`]="{ item }">
              <v-icon medium @click="abrirSheet(item)"> mdi-delete </v-icon>
            </template>
          </v-data-table>
        </div>

        <v-bottom-sheet v-model="sheet" persistent inset>
          <v-sheet class="text-center" height="200px">
            <v-btn class="mt-6" text color="error" @click="sheet = !sheet">
              cancelar
            </v-btn>
            <v-btn class="mt-6" text color="blue" @click="eliminarPerfil">
              Borrar
            </v-btn>
            <div class="my-3">¿Estás seguro de borrar este usuario?</div>
          </v-sheet>
        </v-bottom-sheet>

        <div class="text-center">
    <v-snackbar v-model="snackbar" color="#00897B">
      {{ snackbarText }}
      <template v-slot:action="{ attrs }">
        <v-btn color="#C0CA33" text v-bind="attrs" @click="cerrarSnackbar">
          Cerrar
        </v-btn>
      </template>
    </v-snackbar>
  </div>
        
      </v-main>
    </v-app>
  </div>
</template>

<script>
import { store, objeto } from "../../store";
import UsuarioService from "../../services/UsuarioService";
import EditarUsuario from "./modal/EditarUsuario";
import NuevoUsuario from "./modal/NuevoUsuario";
import VerUsuario from "./modal/VerUsuario";

export default {
  name: "Usuario",
  components: {
    EditarUsuario,
    NuevoUsuario,
    VerUsuario,
  },
  data: () => ({
    buscar: "",
    dialog: false,
    hidden: true,
    sheet: false,
    datos: [],
    snackbar:false,
    cargando: true,
    headers: [
      {
        text: "ID",
        align: "start",
        sortable: false,
        value: "id",
        class: "orange darken-4 white--text",
      },
      {
        text: "Nombre",
        value: "name",
        sortable: false,
        class: "orange darken-4 white--text",
      },
      {
        text: "Correo",
        value: "email",
        sortable: false,
        class: "orange darken-4 white--text",
      },
      {
        text: "Ver",
        value: "ver",
        sortable: false,
        class: "orange darken-4 white--text",
      },
      {
        text: "Editar",
        value: "editar",
        sortable: false,
        class: "orange darken-4 white--text",
      },
      {
        text: "Eliminar",
        value: "eliminar",
        sortable: false,
        class: "orange darken-4 white--text",
      },
    ],
  }),
  created() {
    this.getUsuarios();
    store.snackbarStatus=false;
  },
  mounted() {
    this.hidden = false;
  },
  computed: {
    usuarios() {
      return this.datos;
    },
    snackbarText(){
      return store.snackbarText;
    },
  },
  methods: {
    getUsuarios() {
      UsuarioService.getUsuarios()
        .then((response) => {
          return response.json();
        })
        .then((json) => {
          if (json) {            
            this.datos = json;
            this.cargando = false;
          }
        });
    },
    verPerfil(item) {
      UsuarioService.infoUsuario(item)
        .then((json) => {
                if (json) {
                    objeto.alterarObjeto(json[0]);
                }
            })
      store.verModal = true;
      this.dialog = store.verModal;
      //this.$router.push(`/usuario/${item.id}`);
    },
    editarPerfil(item) {
      objeto.alterarObjeto(item);
      store.editarModal = true;
      UsuarioService.getUsuario(store.objeto.id);
      objeto.limpiarObjeto();
      this.dialog = store.editarModal;
    },

    actualizarCambio(estadoCambio) {
      //Funcion vinculada a evento desde un hijo
      this.refrescar = estadoCambio;
      if (this.refrescar) {
        this.actualizarLista();
        this.refrescar = false;
      }
    },
    actualizarLista() {
      this.getUsuarios();
      this.snackbar = true;
    },

    cerrarSnackbar(){
      this.snackbar = false;
    },
    abrirSheet(item) {
      objeto.alterarObjeto(item);
      this.sheet = true;
    },
    eliminarPerfil() {
      UsuarioService.deleteUsuario(store.objeto)
        .then((res) => res.json())
        .catch((error) => console.error("Error:", error))
        .then(store.snackbarText="Usuario eliminado exitosamente")
        .then(() => this.actualizarLista());

      this.sheet = false;
    },
    crearPerfil() {
      store.crearModal = true;
      this.dialog = store.crearModal;
    },
  },
};
</script>


<style>
#inspire {
  width: 80%;
  height: 80%;
  align-self: center;
}
#nuevo {
  float: right;
  margin-left: 40px;
}
.v-progress-circular {
  margin: 1rem;
  margin-left: 40px;
}
#cargando {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>