<template>
  <v-dialog v-model="dialog" max-width="500px" persistent>
    <v-card outlined shaped>
      <v-card-title id="titulo">
        <span class="headline">Editar Sucursal</span>
      </v-card-title>
      <div v-if="sucursal">
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="3" md="3">
                <v-text-field
                  v-model="sucursal.id"
                  label="ID Sucursal"
                  disabled
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  v-model="sucursal.nombre"
                  label="Nombre"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6" md="7">
                <v-text-field
                  v-model="sucursal.descripcion"
                  label="Descripción"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6" md="5">
                <div v-if="comuna">
                  <v-select
                    v-model="sucursal.comuna_id"
                    :items="comuna"
                    item-text="nombre"
                    item-value="id"
                    :rules="[(v) => !!v || 'La comuna es requerida']"
                    label="Comuna"
                    required
                  ></v-select>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </div>
      <div v-else>
        <v-progress-circular
          id="cargando"
          :size="70"
          :width="7"
          color="orange"
          indeterminate
        >
        </v-progress-circular>
      </div>
      <v-card-actions>
        <v-btn color="primary" @click="modificarDatos">Editar</v-btn>
        <v-btn color="error" @click="cancelar">Cancelar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { store } from "../../../store";
import SucursalService from "../../../services/SucursalService";
import UbicacionService from "../../../services/UbicacionService";

export default {
  name: "EditarSucursal",
  data() {
    return {
      comunas: [],
      regiones: [],
    };
  },
  methods: {
    modificarDatos() {
      SucursalService.putSucursal(store.perfilItem)
        .then((res) => res.json())
        .catch((error) => console.error("Error:", error))
        .then((response) => this.$emit("actualizar", response.updated))
        .then(function() {
            store.snackbarText="Sucursal editada exitosamente"; // Success!            
          }, function() {
            store.snackbarText="No se pudo editar sucursal"; // Error!            
          });

      store.perfilItem = null;
      store.editarModal = false;
    },
    getRegiones() {
      UbicacionService.getRegiones()
        .then((response) => {
          return response.json();
        })
        .then((json) => {
          if (json) {
            this.regiones = json;
          }
        });
    },
    getComunas() {
      UbicacionService.getComunas()
        .then((response) => {
          return response.json();
        })
        .then((json) => {
          if (json) {
            this.comunas = json;
          }
        });
    },
    cancelar() {
      store.editarModal = false;
      store.perfilItem = null;
    },
  },
  computed: {
    dialog() {
      return store.editarModal;
    },
    sucursal() {
      return store.perfilItem;
    },
    region() {
      return this.regiones;
    },
    comuna() {
      return this.comunas;
    },
  },
  created() {
    this.getRegiones();
    this.getComunas();
  },
};
</script>


<style>
#titulo {
  background-color: orange;
  color: white;
}
#cargando {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>