<template>
  <v-dialog v-model="dialog" max-width="500px" persistent>
    <v-card outlined shaped>
      <v-card-title id="titulo">
        <span class="headline">Nueva Sucursal</span>
      </v-card-title>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="7">
                <v-text-field
                  v-model="sucursal.nombre"
                  label="Nombre"
                  :rules="inputRules"
                  required
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="6" md="7">
                <v-text-field
                  v-model="sucursal.descripcion"
                  label="Descripción"
                  :rules="inputRules"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6" md="5">
                <div v-if="comuna">
                  <v-select
                    v-model="sucursal.comuna_id"
                    :items="comuna"
                    item-text="nombre"
                    item-value="id"
                    :rules="[(v) => !!v || 'La comuna es requerida']"
                    label="Comuna"
                    required
                  ></v-select>
                </div>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-btn :disabled="!valid" color="primary" @click="crearSucursal"
            >Crear</v-btn
          >

          <v-btn color="error" @click="cancelar">Cancelar</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
import { store } from "../../../store";
import SucursalService from "../../../services/SucursalService";
import UbicacionService from "../../../services/UbicacionService";

export default {
  name: "NuevaSucursal",
  data() {
    return {
      sucursal: {
        nombre: "",
        descripcion: "",
        comuna_id: 0,
      },
      comunas: [],
      regiones: [],
      valid: true,
      inputRules: [(v) => !!v || "Este campo es obligatorio"],
    };
  },
  methods: {
    crearSucursal() {
      if (this.$refs.form.validate()) {
        SucursalService.postSucursal(this.sucursal)
          .then((res) => res.json())
          .catch((error) => console.error("Error:", error))
          .then((response) => this.$emit("actualizar", response.created))
          .then(function() {
            store.snackbarText="Sucursal creada exitosamente"; // Success!            
          }, function() {
            store.snackbarText="No se pudo crear sucursal"; // Error!            
          });

        this.limpiarFormulario();
        store.crearModal = false;
      }
    },
    getRegiones() {
      UbicacionService.getRegiones()
        .then((response) => {
          return response.json();
        })
        .then((json) => {
          if (json) {
            this.regiones = json;
          }
        });
    },
    getComunas() {
      UbicacionService.getComunas()
        .then((response) => {
          return response.json();
        })
        .then((json) => {
          if (json) {
            this.comunas = json;
          }
        });
    },
    cancelar() {
      store.crearModal = false;
      this.limpiarFormulario();
      this.sucursal = {};
    },
    limpiarFormulario() {
      this.$refs.form.reset();
      this.$refs.form.resetValidation();
    },
  },
  computed: {
    dialog() {
      return store.crearModal;
    },
    region() {
      return this.regiones;
    },
    comuna() {
      return this.comunas;
    },
  },
  created() {
    this.getRegiones();
    this.getComunas();
  },
};
</script>


<style>
#titulo {
  background-color: orange;
  color: white;
}
</style>