<template>
  <v-dialog v-model="dialog" max-width="500px" persistent>
    <v-card outlined shaped>
      <v-card-title id="titulo">
        <span class="headline">Perfil Sucursal</span>
      </v-card-title>
      <div v-if="info">
        <v-card-text>
          <v-container>
            <v-list subheader three-line>
              <v-row>
                <v-col cols="12" sm="6" md="4">
                  <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Identificador</v-list-item-title>
                  <v-list-item-subtitle>
                    {{ info.id }}
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
                </v-col>
                <v-col cols="12" sm="6" md="7">
                  <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Última modificación</v-list-item-title>
                  <v-list-item-subtitle>
                   Fecha: {{ info.updated_at }}
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
                </v-col>
              </v-row>              
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Nombre</v-list-item-title>
                  <v-list-item-subtitle>
                    {{ info.nombre }}
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Rol</v-list-item-title>
                  <v-list-item-subtitle>
                    {{ info.descripcion }}
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-list-item>
                <v-list-item-content>
                  <v-list-item-title>Comuna</v-list-item-title>
                  <v-list-item-subtitle>
                    {{ info.comuna }}
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-container>
        </v-card-text>
      </div>
      <div v-else>
        <v-progress-circular
          id="cargando"
          :size="70"
          :width="7"
          color="orange"
          indeterminate
        >
        </v-progress-circular>
      </div>
      <v-card-actions>
        <v-btn color="error" @click="cancelar">Cerrar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>







<script>
import { objeto, store } from "../../../store";

export default {
  name: "VerSucursal",
  data() {
    return {};
  },
  methods: {
    cancelar() {
      store.verModal = false;
      objeto.limpiarObjeto();
    },
  },
  computed: {
    dialog() {
      return store.verModal;
    },
    info() {
      return store.objeto;
    },
  },
};
</script>


<style>
#titulo {
  background-color: orange;
  color: white;
}
#cargando {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>