<template>
  <div>
    <v-app>
      <v-main id="inspire">
        <v-card-title
          >Secciones<v-spacer></v-spacer>
          <v-text-field
            v-model="buscar"
            append-icon="mdi-magnify"
            label="Buscar"
            single-line
            hide-details
          >
          </v-text-field>

          <v-fab-transition>
            <v-btn
              id="nuevo"
              v-show="!hidden"
              @click="crearSeccion"
              color="blue"
              fab
              dark
              medium
              right
            >
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </v-fab-transition>
        </v-card-title>

        <br />

        <EditarSeccion v-on:actualizar="actualizarCambio($event)" />
        <NuevaSeccion v-on:actualizar="actualizarCambio($event)" />
        <VerSeccion />

        <div v-if="secciones">
          <v-data-table
            :headers="headers"
            :items="secciones"
            :search="buscar"
            :items-per-page="5"
            class="elevation-19"
            :loading="cargando"
            loading-text="Cargando datos, por favor espere ..."
          >
            <template v-slot:[`item.ver`]="{ item }">
              <v-icon medium @click="verSeccion(item)">
                mdi-eye-outline
              </v-icon>
            </template>

            <template v-slot:[`item.editar`]="{ item }">
              <v-icon medium class="mr-2" @click="editarSeccion(item)"
                >mdi-pencil</v-icon
              >
            </template>

            <template v-slot:[`item.eliminar`]="{ item }">
              <v-icon medium @click="abrirSheet(item)"> mdi-delete </v-icon>
            </template>
          </v-data-table>
        </div>

        <v-bottom-sheet v-model="sheet" persistent inset>
          <v-sheet class="text-center" height="200px">
            <v-btn class="mt-6" text color="error" @click="sheet = !sheet">
              cancelar
            </v-btn>
            <v-btn class="mt-6" text color="blue" @click="eliminarSeccion">
              Borrar
            </v-btn>
            <div class="my-3">¿Estás seguro de borrar esta sección?</div>
          </v-sheet>
        </v-bottom-sheet>

        <div class="text-center">
          <v-snackbar v-model="snackbar" color="#00897B">
            {{ snackbarText }}
            <template v-slot:action="{ attrs }">
              <v-btn color="#C0CA33" text v-bind="attrs" @click="cerrarSnackbar">
                Cerrar
              </v-btn>
            </template>
          </v-snackbar>
        </div>
      </v-main>
    </v-app>
  </div>
</template>

<script>
import { store, objeto } from "../../store";
import SeccionService from "../../services/SeccionService";
import EditarSeccion from "./modal/EditarSeccion";
import NuevaSeccion from "./modal/NuevaSeccion";
import VerSeccion from "./modal/VerSeccion";

export default {
  name: "Seccion",
  components: {
    EditarSeccion,
    NuevaSeccion,
    VerSeccion,
  },
  data: () => ({
    buscar: "",
    dialog: false,
    hidden: true,
    sheet: false,
    refrescar: false,
    item: {},
    cargando: true,
    datos: [],
    registro: {},
    snackbar:false,
    headers: [
      {
        text: "ID",
        align: "start",
        sortable: false,
        value: "id",
        class: "orange darken-4 white--text",
      },
      {
        text: "Nombre",
        value: "nombre",
        sortable: false,
        class: "orange darken-4 white--text",
      },
      {
        text: "Descripción",
        value: "descripcion",
        sortable: false,
        class: "orange darken-4 white--text",
      },
      {
        text: "Ver",
        value: "ver",
        sortable: false,
        class: "orange darken-4 white--text",
      },
      {
        text: "Editar",
        value: "editar",
        sortable: false,
        class: "orange darken-4 white--text",
      },
      {
        text: "Eliminar",
        value: "eliminar",
        sortable: false,
        class: "orange darken-4 white--text",
      },
    ],
  }),
  created() {
    this.getSecciones();
  },
  mounted() {
    this.hidden = false;
  },
  computed: {
    secciones() {
      return this.datos;
    },
    snackbarText(){
      return store.snackbarText;
    },
  },
  methods: {
    getSecciones() {
      SeccionService.getSecciones()
        .then((response) => {
          return response.json();
        })
        .then((json) => {
          if (json) {
            this.datos = json;
            this.cargando = false;
          }
        });
    },
    actualizarCambio(estadoCambio) {
      //Funcion vinculada a evento desde un hijo
      this.refrescar = estadoCambio;
      if (this.refrescar) {
        this.actualizarLista();
        this.refrescar = false;
      }
    },
    actualizarLista() {
      this.getSecciones();
      this.snackbar = true;
    },

    cerrarSnackbar(){
      this.snackbar = false;
    },
    verSeccion(item) {
      objeto.alterarObjeto(item);
      store.verModal = true;
      this.dialog = store.verModal;
      //this.$router.push(`/usuario/${item.id}`);
    },
    editarSeccion(item) {
      objeto.alterarObjeto(item);
      this.item = item;
      store.editarModal = true;
      SeccionService.getSeccion(store.objeto.id);
      objeto.limpiarObjeto();
      this.dialog = store.editarModal;
    },
    abrirSheet(item) {
      this.registro = item;
      //objeto.alterarObjeto(item);
      this.sheet = true;
    },
    eliminarSeccion() {
      SeccionService.deleteSeccion(this.registro)
        .then((res) => res.json())
        .catch((error) => console.error("Error:", error))
        .then(store.snackbarText="Sección eliminada exitosamente")
        .then(() => this.actualizarLista());

      this.registro = {};
      this.sheet = false;
    },
    crearSeccion() {
      store.crearModal = true;
      this.dialog = store.crearModal;
    },
  },
};
</script>


<style>
#inspire {
  width: 80%;
  height: 80%;
  align-self: center;
}
#nuevo {
  float: right;
  margin-left: 40px;
}
.v-progress-circular {
  margin: 1rem;
  margin-left: 40px;
}
#cargando {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>