<template>
  <div class="container">
    <div class="contenido">
      <div id="pie">
        <br />
        <v-card elevation="2" shaped max-width="320">
          <v-app-bar id="barra-card" dense flat>
            <v-card-title id="titulo-card"
              ><h4>Las 4 Bodegas con más Productos.</h4></v-card-title
            >
          </v-app-bar>
          <br />
          <Pie />
        </v-card>
      </div>

      <div id="info">
        <br />
        <v-card elevation="2" max-width="350">
          <v-col cols="12">
            <v-card color="#3797a4">
              <v-card-title id="titulo-card">
                <ul class="lista">
                  <li>
                    <h5>Total Usuarios: {{ totales.totalUsuarios }}</h5>
                  </li>
                  <li>
                    <h5>Total Productos: {{ totales.totalProductos }}</h5>
                  </li>
                  <li>
                    <h5>Cantidad Productos: {{ totales.cantidadProductos }}</h5>
                  </li>
                  <li>
                    <h5>Total Sucursales: {{ totales.totalSucursales }}</h5>
                  </li>
                  <li>
                    <h5>Total Bodegas: {{ totales.totalBodegas }}</h5>
                  </li>
                  <li>
                    <h5>Total Categorías: {{ totales.totalCategorias }}</h5>
                  </li>
                </ul>
              </v-card-title>
            </v-card>
          </v-col>
          <v-col cols="12">
            <v-card color="#f6d6ad">
              <v-card-title> <span>Proyecto Semestral 2020</span> </v-card-title>
            </v-card>
          </v-col>
        </v-card>
      </div>

      <div id="bar">
        <br />
        <v-card elevation="2" shaped max-width="320">
          <v-app-bar id="barra-card" dense flat>
            <v-card-title id="titulo-card"
              ><h4>Las 4 Categorías con más Productos.</h4></v-card-title
            >
          </v-app-bar>
          <br />
          <Bar />
        </v-card>
      </div>
    </div>
  </div>
</template>

<script>
import Pie from "./charts/Pie";
import Bar from "./charts/Bar";
import GraficoService from "../../services/GraficoService";

export default {
  name: "Dashboard",
  components: {
    Pie,
    Bar,
  },
  data() {
    return {
      datos: {
        totalSucursales: 0,
        totalProductos: 0,
        cantidadProductos: 0,
        totalCategorias: 0,
        totalBodegas: 0,
        totalUsuarios: 0,
      },
    };
  },
  methods: {
    obtenerDatos() {
      GraficoService.totalUsuario().then((json) => {
        if (json) {
          this.datos.totalUsuarios = json.total;
        }
      });
      GraficoService.totalProducto().then((json) => {
        if (json) {          
          this.datos.cantidadProductos = json[0].cantidad;
          this.datos.totalProductos = json[0].total;
        }
      });
      GraficoService.totalCategoria().then((json) => {
        if (json) {
          this.datos.totalCategorias = json.total;
        }
      });
      GraficoService.totalBodega().then((json) => {
        if (json) {
          this.datos.totalBodegas = json.total;
        }
      });
      GraficoService.totalSucursal().then((json) => {
        if (json) {
          this.datos.totalSucursales = json.total;
        }
      });
    },
  },
  mounted() {
    this.obtenerDatos();
  },
  computed: {
    totales() {
      return this.datos;
    },
  },
};
</script>

<style>
.contenido {
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  justify-items: center;
  align-items: center;
}

#titulos {
  text-align: center;
  background-color: rgba(255, 164, 0, 0.8);
  font-size: 18px;
  font-weight: bold;
  color: white;
  border-radius: 20px;
}

.lista {
  list-style-type: none;
}
#titulo-card {
  color: white;
}
#titulo-card h4 {
  font-size: 0.73em;
}

#barra-card {
  background-color: #588da8;
}
</style>