<template>
  <v-dialog v-model="dialog" max-width="500px" persistent>
    <v-card outlined shaped>
      <v-card-title id="titulo">
        <span class="headline">Editar Sección</span>
      </v-card-title>
      <div v-if="seccion">
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="3" md="3">
                <v-text-field
                  v-model="seccion.id"
                  label="ID Sección"
                  disabled
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6" md="7">
                <v-text-field
                  v-model="seccion.nombre"
                  label="Nombre"
                  required
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="6" md="7">
                <v-text-field
                  v-model="seccion.descripcion"
                  label="Descripción"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </div>
      <div v-else>
        <v-progress-circular
          id="cargando"
          :size="70"
          :width="7"
          color="orange"
          indeterminate
        >
        </v-progress-circular>
      </div>
      <v-card-actions>
        <v-btn color="primary" @click="modificarDatos">Editar</v-btn>
        <v-btn color="error" @click="cancelar">Cancelar</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { store } from "../../../store";
import SeccionService from "../../../services/SeccionService";

export default {
  name: "EditarUsuario",
  data() {
    return {};
  },
  methods: {
    modificarDatos() {
      SeccionService.putSeccion(store.perfilItem)
        .then((res) => res.json())
        .catch((error) => console.error("Error:", error))
        .then((response) => this.$emit("actualizar", response.updated))
        .then(function() {
            store.snackbarText="Sección editada exitosamente"; // Success!            
          }, function() {
            store.snackbarText="No se pudo editar sección"; // Error!            
          });

      store.perfilItem = null;
      //this.$emit('actualizar', true); Crear evento para notificar al padre

      store.editarModal = false;
    },
    cancelar() {
      store.editarModal = false;
      store.perfilItem = null;
    },
  },
  computed: {
    dialog() {
      return store.editarModal;
    },
    info() {
      return store.objeto;
    },
    seccion() {
      return store.perfilItem;
    },
  },
};
</script>


<style>
#titulo {
  background-color: orange;
  color: white;
}
#cargando {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>