<template>
  <v-dialog v-model="dialog" max-width="500px" persistent>
    <v-card outlined shaped>
      <v-card-title id="titulo">
        <span class="headline">Nueva Sección</span>
      </v-card-title>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="7">
                <v-text-field
                  v-model="seccion.nombre"
                  label="Nombre"
                  :rules="inputRules"
                  required
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="6" md="7">
                <v-text-field
                  v-model="seccion.descripcion"
                  label="Descripción"
                  :rules="inputRules"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-btn :disabled="!valid" color="primary" @click="crearSeccion"
            >Crear</v-btn
          >

          <v-btn color="error" @click="cancelar">Cancelar</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
import { store } from "../../../store";
import SeccionService from "../../../services/SeccionService";

export default {
  name: "NuevaSeccion",
  data() {
    return {
      seccion: {
        nombre: "",
        descripcion: "",
      },
      valid: true,
      inputRules: [(v) => !!v || "Este campo es obligatorio"],
    };
  },
  methods: {
    crearSeccion() {
      if (this.$refs.form.validate()) {
        SeccionService.postSeccion(this.seccion)
          .then((res) => res.json())
          .catch((error) => console.error("Error:", error))
          .then((response) => this.$emit("actualizar", response.created))
          .then(function() {
            store.snackbarText="Sección creada exitosamente"; // Success!            
          }, function() {
            store.snackbarText="No se pudo crear sección"; // Error!            
          });

        this.limpiarFormulario();
        store.crearModal = false;
      }
    },
    cancelar() {
      store.crearModal = false;
      this.limpiarFormulario();
      this.seccion = {};
    },
    limpiarFormulario() {
      this.$refs.form.reset();
      this.$refs.form.resetValidation();
    },
  },
  computed: {
    dialog() {
      return store.crearModal;
    },
  },
};
</script>


<style>
#titulo {
  background-color: orange;
  color: white;
}
</style>