<template>
  <div>
    <v-card
      max-width="1000"
      class="mx-auto"
      style="margin-top: 25px"
      elevation="12"
    >
      <v-card-title>Venta de productos</v-card-title>
      <template>
        <div>
          <v-data-table
            :headers="headerArray"
            :items="datos"
            hide-default-footer
            item-key="codigo"
            class="elevation-1"
          >
            <template v-slot:top>
              <v-row>
                <v-col cols="12" sm="12" md="12">
                  <v-btn
                    @click="generarVenta()"
                    elevation="2"
                    outlined
                    color="success"
                    style="float: right; margin-right: 20px"
                    >Ingresar venta</v-btn
                  >
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" sm="6" md="3">
                  <v-select
                    :items="categorias"
                    v-model="categoria"
                    @change="obtenerProductos()"
                    label="Categorías"
                    style="width: 200px; float: right; margin-left: 20px"
                    color="success"
                    item-text="nombre"
                    item-value="id"
                    outlined
                  ></v-select>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <div v-if="categoriaSeleccionada && tipoPagoSeleccionado">
                    <v-combobox
                      v-model="producto"
                      :items="productosBuscados"
                      @change="agregarLista()"
                      item-text="nombre"
                      item-value="id"
                      color="success"
                      label="Buscar producto"
                    ></v-combobox>
                  </div>
                  <div v-else>
                    <v-combobox
                      v-model="producto"
                      :items="productosBuscados"
                      loading
                      disabled
                      color="success"
                      label="Primero seleccione un tipo de pago y una categoría"
                    ></v-combobox>
                  </div>
                </v-col>
                <v-col cols="12" sm="6" md="3">
                  <v-select
                    :items="tipoPago"
                    v-model="tipoP"
                    label="Tipo de pago"
                    style="width: 200px; float: right; margin-right: 20px"
                    color="success"
                    item-text="descripcion"
                    item-value="id"
                    outlined
                  ></v-select>
                </v-col>
              </v-row>
            </template>

            <template v-slot:header="{ props: { headers } }">
              <thead>
                <tr>
                  <th :colspan="headers.length">PONER EL FOLIO DE LA VENTA</th>
                </tr>
              </thead>
            </template>

            <template v-if="no_data" v-slot:no-data>
              Sin productos seleccionados
            </template>

            <template v-slot:[`item.cantidad`]="{ item }">
              <v-text-field
                v-model.number="item.cantidad"
                name="cantidad"
                class="mt-0 pt-0"
                hide-details
                @input="modificarCantidad(item)"
                single-line
                type="number"
                style="width: 60px"
              ></v-text-field>
            </template>

            <template v-slot:[`item.actions`]="{ item }">
              <v-icon class="mr-2" color="red" @click="removerLista(item)">
                mdi-window-close
              </v-icon>
            </template>

            <template v-slot:[`body.append`]>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <div style="padding-left: 15px; font-weight: bold">Total</div>
              </td>
              <td>
                <div style="padding-left: 15px; font-weight: bold">
                  {{ sumaTotal }}
                </div>
              </td>
            </template>
          </v-data-table>
        </div>
      </template>
      <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>     
    <div class="text-center">
      <v-snackbar v-model="snackbar" color="#00897B">
          {{ text }}
          <template v-slot:action="{ attrs }">
            <v-btn
              color="#C0CA33"
              text
              v-bind="attrs"
              v-on:click="cerrarSnackbar"
            >
              Cerrar
            </v-btn>
          </template>
        </v-snackbar>
    </div>    
    </v-card>
  </div>
</template>

<script>
import SeccionService from "../../services/SeccionService";
import ProductoService from "../../services/ProductoService";
import TipoPagoService from "../../services/TipoPagoService";
import VentaService from "../../services/VentaService";

export default {
  name: "Venta",
  data: () => ({
    no_data: true,
    overlay: false,
    total: 0,
    snackbar: false,
    totalVenta: 0,
    ventaProducto: [],
    venta: {},
    itemsArray: [], // lista del datatable
    productos: [], //combobox
    categorias: [], //select
    categoria: null,
    producto: [],
    venta_id: 0,
    text: "La venta se ha registrado exitosamente!",
    tipoPago: [],
    tipoP: null,
    headerArray: [
      {
        text: "Código",
        align: "start",
        sortable: false,
        value: "codigo",
      },
      { text: "Descripción", value: "nombre" },
      { text: "Disponible", value: "stock" },
      { text: "Cantidad", value: "cantidad" },
      { text: "Precio Unitario", value: "precio" },
      { text: "Total", value: "total" },
      { text: "Acción", value: "actions", sortable: false },
    ],
  }),
  methods: {
    generarVenta() {     
      this.activarOverlay();
      this.venta = {
        total: this.totalVenta,
        tipo_pago_id: this.tipoP,
      };
      VentaService.postVenta(this.venta)
        .then((response) => {
          return response.json();
        })
        .then((json) => {
          if (json) {
            this.venta_id = json.venta;
          }
        })
        .then(() => {
          this.generarProductoVenta();
        });
      this.ventaProducto = [];
    },
    generarProductoVenta() {
      this.itemsArray.forEach((element) => {
        this.ventaProducto.push({
          producto_id: element.id,
          venta_id: this.venta_id,
          cantidad: element.cantidad,
          total_venta: element.total,
        });
      });
      VentaService.postProductoVenta(this.ventaProducto);
      this.desactivarOverlay();
      this.abrirSnackbar();
    },
    abrirSnackbar(){
      this.snackbar = true;
    },
    cerrarSnackbar() {
      this.snackbar = false;
    },
    activarOverlay(){
      this.overlay=true
    },
    desactivarOverlay(){
      this.overlay=false
    },
    obtenerTotal() {
      this.totalVenta = 0;
      this.itemsArray.forEach((element) => {
        this.totalVenta += element.total;
      });
    },
    modificarCantidad(item) {
      let posicion = this.itemsArray.indexOf(item);
      this.itemsArray[posicion].total = item.precio * item.cantidad;
      this.obtenerTotal();
    },
    obtenerCategorias() {
      SeccionService.getSecciones()
        .then((response) => {
          return response.json();
        })
        .then((json) => {
          if (json) {
            this.categorias = json;
          }
        });
    },
    obtenerTiposPago() {
      TipoPagoService.getTiposPago()
        .then((response) => {
          return response.json();
        })
        .then((json) => {
          if (json) {
            this.tipoPago = json;
          }
        });
    },
    obtenerProductos() {
      ProductoService.getProductoCategoria(this.categoria).then((json) => {
        if (json) {
          this.productos = json;
        }
      });
    },
    agregarLista() {
      this.itemsArray.push({
        id: this.producto.id,
        codigo: this.producto.codigo,
        nombre: this.producto.nombre,
        stock: this.producto.cantidad,
        cantidad: 1,
        precio: this.producto.precio,
        total: this.producto.precio,
      });
      this.no_data = false;
      this.obtenerTotal();
    },
    removerLista(item) {
      for (var i = 0; i < this.itemsArray.length; i++) {
        if (this.itemsArray[i].codigo === item.codigo) {
          this.itemsArray.splice(i, 1);
          break;
        }
      }
      this.obtenerTotal();
    },
  },
  created() {
    this.obtenerCategorias();
    this.obtenerTiposPago();
  },
  computed: {
    datos() {
      return this.itemsArray;
    },
    categoriaSeleccionada() {
      return this.categoria;
    },
    tipoPagoSeleccionado() {
      return this.tipoP;
    },
    productosBuscados() {
      return this.productos;
    },
    sumaTotal() {
      return this.totalVenta;
    },
  },
  watch: {},
};
</script>