<template>
  <v-dialog v-model="dialog" max-width="500px" persistent>
    <v-card outlined shaped>
      <v-card-title id="titulo">
        <span class="headline">Editar Usuario</span>
      </v-card-title>
      <v-form ref="form" v-model="valid" lazy-validation>
        <div v-if="usuario">
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="3" md="3">
                  <v-text-field
                    v-model="usuario.id"
                    label="ID Usuario"
                    disabled
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" sm="6" md="7">
                  <v-text-field
                    v-model="usuario.name"
                    label="Nombre"
                    :rules="inputRules"
                    required
                  ></v-text-field>
                </v-col>

                <v-col cols="12" sm="6" md="7">
                  <v-text-field
                    v-model="usuario.email"
                    label="Correo"
                    :rules="inputRules"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-select
                    v-model="usuario.sucursal_id"
                    :items="sucursal"
                    item-text="nombre"
                    item-value="id"
                    :rules="[(v) => !!v || 'El sucursal es requerido']"
                    label="Sucursal"
                    required
                  ></v-select>
                </v-col>

                <v-col>
                  <v-select
                    v-model="usuario.rol_id"
                    :items="rol"
                    item-text="descripcion"
                    item-value="id"
                    :rules="[(v) => !!v || 'El rol es requerido']"
                    label="Rol"
                    required
                  ></v-select>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
        </div>
        <div v-else>
          <v-progress-circular
            id="cargando"
            :size="70"
            :width="7"
            color="orange"
            indeterminate
          >
          </v-progress-circular>
        </div>
        
        <v-card-actions>
          <v-btn :disabled="!valid" color="primary" @click="modificarDatos"
            >Editar</v-btn
          >
          <v-btn color="error" @click="cancelar">Cancelar</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
import { store } from "../../../store";
import UsuarioService from "../../../services/UsuarioService";
import RolService from "../../../services/RolService";
import SucursalService from "../../../services/SucursalService";

export default {
  name: "EditarUsuario",
  data() {
    return {
      sucursales: [],
      roles: [],
      valid: true,
      inputRules: [(v) => !!v || "Este campo es obligatorio"],
    };
  },
  methods: {
    modificarDatos() {
      UsuarioService.putUsuario(store.perfilItem)
        .then((res) => res.json())
        .catch((error) => console.error("Error:", error))
        .then((response) => this.$emit("actualizar", response.updated))
        .then(function() {
            store.snackbarText="Usuario editado exitosamente"; // Success!            
          }, function() {
            store.snackbarText="No se pudo editar usuario"; // Error!            
          });

      store.perfilUsu = null;
      store.editarModal = false;
    },
    getRoles() {
      RolService.getRoles()
        .then((response) => {
          return response.json();
        })
        .then((json) => {
          if (json) {
            this.roles = json;
          }
        });
    },
    getSucursales() {
      SucursalService.getSucursales()
        .then((response) => {
          return response.json();
        })
        .then((json) => {
          if (json) {
            this.sucursales = json;
          }
        });
    },
    cancelar() {
      store.editarModal = false;
      store.perfilUsu = null;
    },
  },
  computed: {
    dialog() {
      return store.editarModal;
    },
    info() {
      return store.objeto;
    },
    usuario() {
      return store.perfilItem;
    },
    rol() {
      return this.roles;
    },
    sucursal() {
      return this.sucursales;
    },
  },
  created() {
    this.getRoles();
    this.getSucursales();
  },
};
</script>


<style>
#titulo {
  background-color: orange;
  color: white;
}
#cargando {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>