<template>
  <v-dialog v-model="dialog" max-width="500px" persistent>
    <v-card outlined shaped>
      <v-card-title id="titulo">
        <span class="headline">Nuevo Usuario</span>
      </v-card-title>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="7">
                <v-text-field
                  v-model="usuario.name"
                  label="Nombre"
                  :rules="inputRules"
                  required
                ></v-text-field>
              </v-col>

              <v-col cols="12" sm="6" md="7">
                <v-text-field
                  v-model="usuario.email"
                  label="Correo"
                  :rules="emailRules"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" sm="6" md="7">
                <v-text-field
                  v-model="usuario.password"
                  label="Contraseña"
                  :rules="inputRules"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-select
                  v-model="usuario.rol_id"
                  :items="rol"
                  item-text="descripcion"
                  item-value="id"
                  :rules="[(v) => !!v || 'El rol es requerido']"
                  label="Rol"
                  required
                ></v-select>
              </v-col>

              <v-col>
                <v-select
                  v-model="usuario.sucursal_id"
                  :items="sucursal"
                  item-text="nombre"
                  item-value="id"
                  :rules="[(v) => !!v || 'La sucursal es requerida']"
                  label="Sucursal"
                  required
                ></v-select>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-btn :disabled="!valid" color="primary" @click="crearUsuario"
            >Crear</v-btn
          >

          <v-btn color="error" @click="cancelar">Cancelar</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
import { store } from "../../../store";
import UsuarioService from "../../../services/UsuarioService";
import RolService from "../../../services/RolService";
import SucursalService from "../../../services/SucursalService";

export default {
  name: "NuevoUsuario",
  data() {
    return {
      usuario: {
        name: "",
        email: "",
        password: "",
        rol_id: 0,
        sucursal_id: 0,
      },
      roles: [],
      sucursales: [],
      valid: true,
      inputRules: [(v) => !!v || "Este campo es obligatorio"],
      emailRules: [
        (v) => !!v || "El correo es requerido",
        (v) => /.+@.+/.test(v) || "El correo debe ser válido",
      ],
    };
  },
  methods: {
    crearUsuario() {
      if (this.$refs.form.validate()) {
        UsuarioService.postUsuario(this.usuario)
          .then((res) => res.json())
          .then((response) => this.$emit("actualizar", response.created))          
          .then(function() {
            store.snackbarText="Usuario creado exitosamente"; // Success!            
          }, function() {
            store.snackbarText="No se pudo crear usuario"; // Error!            
          });
          //.catch((error) => console.log("error:" + error));

        this.limpiarFormulario();
        store.crearModal = false;
      }
    },
    getRoles() {
      RolService.getRoles()
        .then((response) => {
          return response.json();
        })
        .then((json) => {
          if (json) {
            this.roles = json;
          }
        });
    },
    getSucursales() {
      SucursalService.getSucursales()
        .then((response) => {
          return response.json();
        })
        .then((json) => {
          if (json) {
            this.sucursales = json;
          }
        });
    },
    cancelar() {
      store.crearModal = false;
      this.limpiarFormulario();
      this.usuario = {};
    },
    limpiarFormulario() {
      this.$refs.form.reset();
      this.$refs.form.resetValidation();
    },
  },
  computed: {
    dialog() {
      return store.crearModal;
    },
    rol() {
      return this.roles;
    },
    sucursal() {
      return this.sucursales;
    },
  },
  created() {
    this.getRoles();
    this.getSucursales();
  },
};
</script>


<style>
#titulo {
  background-color: orange;
  color: white;
}
</style>