<template>
    <v-app>
      <v-card class="mx-auto my-12" max-width="374" id="carta">
        <v-img
          max-width="250"
          transition="scale-transition"
          src="../../assets/Logo.png"
        ></v-img>
        <br />
        <v-form ref="form" lazy-validation @submit.prevent="login">
          <v-text-field
            v-model="correo"
            :rules="emailRules"
            label="Correo"
            required
          >
          </v-text-field>
          <v-text-field
            v-model="contraseña"
            type="password"
            :rules="passRules"
            label="Contraseña"
            required
          >
          </v-text-field>
          <div id="boton-log">
            <v-btn color="success" class="mr-4" type="submit"> Ingresar </v-btn>
          </div> <br>
           <div id="boton-rec">
            <v-btn color="success" class="mr-4" v-on:click="recuperarContrasena">Recuperar contraseña</v-btn>
          </div>
        </v-form>
      </v-card>
      <br>
      <div class="text-center">
    <v-snackbar v-model="snackbar" color="#00897B">
      {{ mensaje }}
      <template v-slot:action="{ attrs }">
        <v-btn color="#C0CA33" text v-bind="attrs" v-on:click="cerrarSnackbar">
          Cerrar
        </v-btn>
      </template>
    </v-snackbar>
  </div>
    </v-app>
</template>


<script>
import AuthService from '../../services/AuthService'
import { store } from '../../store';

export default {
  name: "Login",
  data: () => ({
    titulo: "Bienvenido",
    correo: "",
    contraseña: "",
    mensaje: "",
    snackbar: false,
    emailRules: [
        v => !!v || 'El correo es requerido',
        v => /.+@.+\..+/.test(v) || 'El correo debe ser válido',
      ],
    passRules: [(v) => !!v || "La contraseña es requerida"],
    dialog: false,
  }),
  methods: {
    login() {
      if (this.$refs.form.validate()) {        
          let credenciales = {
            email: this.correo,
            password: this.contraseña
          }
          AuthService.login(credenciales)
            .then( () =>{
              if(store.conectado){
                this.tipoUsuario();
              }else{
                this.mensaje = "Credenciales inválidas, vuelva a intentar"
                this.snackbar = true;
              }
            })
      }
    },
    recuperarContrasena(){
      //store.verModal = true;
      //this.dialog = store.verModal;
      window.location.href = "http://localhost:8000/forgot-password";
    },
    tipoUsuario(){
      if(store.tipoUsuario == 1){
        this.$router.push("/dashboard");
      }
      if(store.tipoUsuario == 2){
        this.$router.push("/bodega");
      }
      if(store.tipoUsuario == 3){
        this.$router.push("/producto");
      }
    },
    cerrarSnackbar(){
      this.snackbar = false;
    },
    validate() {
      this.$refs.form.validate();
    },
  },
};
</script>


<style>
#carta {
  padding: 15px;
}
#boton-log {
  text-align: center;
}
#boton-rec {
  text-align: center;
}
</style>