<template>
  <div id="contenedor">
    <v-app>
      <v-main>
        <div id="nav">
          <Navbar />
        </div>
          <router-view />
      </v-main>
    </v-app>
  </div>
</template>

<script>
import Navbar from "./components/nav/Nav";
export default {
  name: "App",

  components: {
    Navbar,
  },
};
</script>

<style>

#contenedor{
  height: 100%;
}
#nav{
  height: 7%;
}

</style>