<template>
  <div>
    <v-app-bar color="orange" dense dark>
      <div class="d-flex align-center">
        <v-img
          alt="TWK logo"
          class="shrink mr-2"
          contain
          src="../../assets/logo-twk-lineal-negativo.png"
          transition="scale-transition"
          width="80"
        />
      </div>

      <div v-if="estado">
        <div v-if="acceso == 1">
          <template>
            <v-tabs align-self background-color="orange">
              <v-tab @click="dashboard">Dashboard</v-tab>
              <v-tab @click="usuario">Usuario</v-tab>
              <v-tab @click="sucursal">Sucursal</v-tab>
              <v-tab @click="bodega">Bodega</v-tab>
              <v-tab @click="seccion">Sección</v-tab>
              <v-tab @click="producto">Producto</v-tab>
              <v-tab @click="venta">Venta</v-tab>
            </v-tabs>
          </template>
        </div>

        <div v-if="acceso == 2">
          <template>
            <v-tabs align-self background-color="orange">
              <v-tab @click="bodega">Bodega</v-tab>
              <v-tab @click="seccion">Sección</v-tab>
              <v-tab @click="producto">Producto</v-tab>
            </v-tabs>
          </template>
        </div>
        <div v-if="acceso == 3">
          <template>
            <v-tabs align-self background-color="orange">
              <v-tab @click="producto">Producto</v-tab>
            </v-tabs>
          </template>
        </div>
        <div v-if="acceso == 4">
          <template>
            <v-tabs align-self background-color="orange">
              <v-tab @click="venta">Venta</v-tab>
            </v-tabs>
          </template>
        </div>
      </div>

      <v-spacer></v-spacer>
      <v-toolbar-title size="17px"
        >Sistema de bodegas - Leandro Vargas</v-toolbar-title
      >      

      <v-spacer v-if="estado"></v-spacer>
       <v-menu
        v-if="estado"
        left
        bottom
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            v-bind="attrs"
            v-on="on"
          >
            <v-icon>mdi-dots-vertical-circle-outline</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item
            v-for="n in items"
            :key="n.title"
            item-value="title"
            @click="() => {
              if(n.title == 'Cambiar tema'){
                $vuetify.theme.dark = !$vuetify.theme.dark
              }else if(n.title == 'Cerrar sesión'){
                logOut();
              } 
            }"          
          >
            <v-list-item-title>{{ n.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>

    </v-app-bar>
  </div>
</template>


<script>
import { store } from "../../store";
import AuthService from "../../services/AuthService";

export default {
  name: "Navbar",
  data: () => ({
    alias: store.usuario,
    items: [{ title: "Cambiar tema" }, { title: "Cerrar sesión" }],
  }),
  methods: {
    dashboard() {
      if (this.$router.currentRoute.name != "Dashboard") {
        this.$router.push("/dashboard");
      }
    },
    usuario() {
      if (this.$router.currentRoute.name != "Usuario") {
        this.$router.push("/usuario");
      }
    },
    seccion() {
      if (this.$router.currentRoute.name != "Seccion") {
        this.$router.push("/seccion");
      }
    },
    sucursal() {
      if (this.$router.currentRoute.name != "Sucursal") {
        this.$router.push("/sucursal");
      }
    },
    producto() {
      if (this.$router.currentRoute.name != "Producto") {
        this.$router.push("/producto");
      }
    },
    bodega() {
      if (this.$router.currentRoute.name != "Bodega") {
        this.$router.push("/bodega");
      }
    },
    venta() {
      if (this.$router.currentRoute.name != "Venta") {
        this.$router.push("/venta");
      }
    },
/*
    opcionMenu(item) {
      if (item.title == "Cambiar tema") {
        $vuetify.theme.dark = !$vuetify.theme.dark;
      } else if (item.title == "Salir") {
        this.logOut();
      }
    },
*/
    logOut() {
      AuthService.logout().then(() => {
        if (!store.conectado) {
          this.$router.push("/");
        }
      });
    },
  },
  computed: {
    estado() {
      return store.conectado;
    },
    acceso() {
      return store.tipoUsuario;
    },
  },
};
</script>


<style>
#salir {
  cursor: pointer;
  font-size: 17px;
  padding: 8px;
  border-radius: 25px;
}
#salir:hover {
  background-color: #f9a72b;
}
#titulo {
  font-size: 17px;
}
</style>